$chart-height: 50;
$component-color: $color-primary;

.dashboard__charts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.dashboard__chart_orders {
  $component-color: map_get($colors-aside, 'yellow') !global;
}

.dashboard__chart_sales {
  $component-color: map_get($colors-aside, 'green') !global;
}

.dashboard__chart_customers {
  $component-color: map_get($colors-aside, 'purple') !global;
}

.dashboard .sortable-table {
  $cols: 6;
}
